<div>
  <h2>Amenities</h2>
  {{#if currentUser}}
    <a href="/amenities/form">+ New Amenity</a>
  {{/if}}
</div>

{{#if amenities.length}}
  <ul>
    {{#each amenities}}
      <li>
        <span>{{this.amenityName}}</span>
        {{#if ../currentUser}}
          <a href="/amenities/form?id={{this.amenityId}}">Edit</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No amenities yet.</p>
{{/if}}
